DEBUG=True
SECRET_KEY=django-insecure-hotel-pms-super-secret-key-change-in-production-2026!
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration (PostgreSQL)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=hotel_pms_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432

# Redis & Celery Configuration
REDIS_URL=redis://127.0.0.1:6379/0
CELERY_BROKER_URL=redis://127.0.0.1:6379/0

# Hotel General Settings
HOTEL_NAME=Hôtel Prestige & Spa
HOTEL_CURRENCY=FCFA
HOTEL_TIMEZONE=UTC
